<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversityActivityManagementSystem.Properties.Settings.db_UAMSConnectionString"
            connectionString="Data Source=47.115.202.144;Initial Catalog=db_UAMS;Persist Security Info=True;User ID=sa;Password=021014_yyf;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>